/*navigasi*/
/*tampilan paling atas*/
.tempat{
  width: 20%;
  margin-left: 5%;
}

.atas, nav{
  margin-left:;
}

#coba{
  color:black;
}

/*tampilan untuk pilihan*/
.navtampil{
  max-height: 20px;
  /*border-bottom: 3px solid rgb(130, 130, 130);*/
  text-align: center;
  font-size: 15px;
}
table,ul{  
  font-size: 10px; 
  float: center;
  color: grey;
}  

tr {  
 vertical-align: top;  
}  

nav ul li a{
  display: block;
  font-size: .90em;
  padding: 5px 10px 0 0;
  color: grey;
  text-decoration: none;
  font-weight: 100px;
  letter-spacing: 2px;
}

nav ul li{
  /*float: left;*/
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Open Sans';
  padding: 10px;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    font-color:black;
    text-align: left;
}

.dropdown-content {
    color:black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*header*/
header{
  background: grey;
  text-align: center;
  height: 200px;
  padding: 30px;
  background: linear-gradient(to right, #00ccff,  #000099);
  color:#000099;
}
h1{
  color: white;
}

/*body*/
body{
  font-family: 'museo-slab',arial,sans-serif;
}
#tabel{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 0px;
  margin-right: 100px;

}
#tabel > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}


/*footer*/
footer{
  background: #e8e9ed;
  height: 50px;
  text-indent: 50px;
}

.footer-copy{
  font-size: 20px;
}
.footer-copy-2{
  font-size: 10px;
  padding:;
}

.footer-copy, .footer-copy-2{
  padding: 10px
}

