/*navigasi*/
/*tampilan paling atas*/
.tempat{
  width: 20%;
  margin-left: 5%;
}

.atas, nav{
  margin-left:;
}

/*tampilan untuk pilihan*/
.navtampil{
  max-height: 20px;
  /*border-bottom: 3px solid rgb(130, 130, 130);*/
  text-align: center;
  font-size: 15px;
  padding: 10px 0 0 0;

}

nav ul li{
  display: inline-block;
  font-weight: bold;
  font-family: 'Open Sans';
  padding: 5px 0 0 0;
}

/*Search*/
.search{
  padding:3px 7px;
  /*border:0px solid #dbdbdb;*/
}

button{
  position: relative;
  padding:6.5px 7px;
  left:-45px;
  border: 0px;
  background: white;

}
/* Expanding Searchbar */
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #3596e0;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}


/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    font-color:black;
    text-align: left;
}

.dropdown-content {
    color:black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*header*/
header{
  text-align: center;
  height: 350px;
  padding: 75px;
  background: linear-gradient(to right, #0099cc,  #1053ae);
  color:#000099;
}
h1{
  color: white;
}

/*body*/
body{
  font-family: 'museo-slab',arial,sans-serif;
  /*background: blue;*/
}
/*list-materi*/
h3,h4{
  margin:0;
  text-align: left;
  color:#3c3d3e;
}  

section{
  background-color: #f7f8fa ;
  margin:0;
  padding: 50px;
}
.circle2, .circle3{
  width: 40px;
  height: 40px;
  margin top:2px;
  margin-left:5px;
  border-radius: 50%;
  overflow:hidden;
  color: white;
  float:left;
}

.circle2{
  background: linear-gradient(to right, #e62420,  #a80d0d);
}

.circle3{
  background: linear-gradient(to right, #e68620,  #e86607);  
}

#tabel{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
  text-decoration-color: black;
}

#tabel > div {
  border: 1px solid #bababa;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  background: #ffffff;
  -moz-box-shadow: 0px 0px 25px; 
  -webkit-box-shadow: 0px 0px 10px #bababa; 
}

div>a{
  color:#3c3d3e;
}

div>h5{
  text-align: center; margin-top:12px; font-size: 17px;
}

/*navigasi*/
/*tampilan paling atas*/
.tempat{
  width: 20%;
  margin-left: 5%;
}

.atas, nav{
  margin-left:;
}
/*paging*/
.center{
  text-align: center;
}
.pagination {
    display: inline-block;
    background-color: white;
}

.pagination a {
    color: #007791;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #7D8CA3;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #007791;color: white;}

/*home*/
.content{
  background: #F7F8FA;
  margin:0;
  padding-bottom: 20px;
}

.materi{
  border: 1px solid;
  padding : 10px;
  background: #ffffff;
  margin: 10px;
}


/*Download*/
.download-button{
  width: 233px;
  height: 42px;
  border: 1px solid;
  padding : 15px 100px 15px 100px;
  background: rgba(0,0,0,0);
}

.File{
  padding-top: 10px;
  margin:19px;
  width: 170px;
  height: 200px;
  overflow:hidden;
  background: white;
 -moz-box-shadow: 0px 0px 25px; 
  -webkit-box-shadow: 0px 0px 10px #bababa; 
}

.circle{
  width: 100px;
  height: 100px;
  margin top:10px;
  border-radius: 50%;
  overflow:hidden;
  background: linear-gradient(to right, #e62420,  #a80d0d);
  color: white;
}

/*footer*/
footer{
  background: #FFFFFF;
  height: 50px;
  text-indent: 50px;
}
.copyright{
  font-size: 10px;
  padding:;
}

.footer-logo, .copyright{
  padding: 10px
}

.gradient{
    border-top: 10px #efeff1; 
}
.footer-color{
  height: 5px;
  background:  linear-gradient(to right, #0099cc,  #1053ae);
}
