h3{
	margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 100px;
    text-align: left;
}		
h4{
	margin-left: 100px;
}
section{
	background-color: #F2F5DE;
}
#tabel{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
  text-decoration-color: black;
}
#tabel > div {
  border: 1px solid black;
  text-align: left;
  text-indent: 20px; 
  padding: 10px;
  font-size: 20px;
}
/*navigasi*/
/*tampilan paling atas*/
.tempat{
  width: 20%;
  margin-left: 5%;
}


.atas, nav{
  margin-left:;
}

/*tampilan untuk pilihan*/
.navtampil{
  max-height: 20px;
  /*border-bottom: 3px solid rgb(130, 130, 130);*/
  text-align: center;
  font-size: 15px;
}
table,ul{  
  font-size: 10px; 
  float: center;
  color: grey;
}  

tr {  
 vertical-align: top;  
}  

nav ul li a{
  display: block;
  font-size: .90em;
  padding: 5px 10px 0 0;
  color: grey;
  text-decoration: none;
  font-weight: 100px;
  letter-spacing: 2px;
}

nav ul li{
  /*float: left;*/
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Open Sans';
  padding: 10px;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    font-color:black;
}

.dropdown-content {
    color:black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*paging*/
.center{
	text-align: center;
}
.pagination {
    display: inline-block;
    background-color: white;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #7D8CA3;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #36494E;}
